<%- include('layout') %>
<%- include('navbar') %>
  <div class="container">
    <% series.forEach(series => { %>
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title"><%= series.title %></h4>
          <div class="card-subtitle text-muted mb-2">
            <%= series.createdAt.toLocaleDateString() %>
          </div>
          <div class="card-text mb-2"><%= series.description %></div>
          <a href="<%= series.googledrive %>" class="btn btn-primary">Google Drive</a>
          <a href="<%= series.mega %>" class="btn btn-danger">Mega</a>
          <a href="series/edit/<%= series.id %>" class="btn btn-info">Edit</a>
          <form action="/series/<%= series.id %>?_method=DELETE" method="POST" class="d-inline">
            <button type="submit" class="btn btn-warning">Delete</button>
          </form>
        </div>
      </div>
    <% }) %>
  </div>